/data/access_15_DA.rda
/data/access_15.rda
/data/care_dest.rda
/data/ttm_care_TRANSIT_parcel1.rda
/data/ttm_care_TRANSIT_parcel2.rda
/data/ttm_care_TRANSIT_parcel3.rda
/data/ttm_care_TRANSIT_parcel4.rda

/data/Routing/
/data/R_PARCELS_CENTS_2020.rda
/data/access_30_parcel_DA.rda
/data/access_15_parcel_DA.rda
/.Rproj.user
/.Rproj.user
/.Rproj.user/shared
/.Rproj.user/shared/notebooks
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/E97F2EFB-Processing-data/1/s/chunks.json
.Rproj.user/shared/notebooks/E97F2EFB-Processing-data/1/A02CA234b38b90e4/chunks.json
.Rproj.user/A02CA234/sources/session-b38b90e4/B88BEFCF
.Rproj.user/A02CA234/sources/session-b38b90e4/A0DE662A-contents
.Rproj.user/A02CA234/sources/session-b38b90e4/A0DE662A
.Rproj.user/A02CA234/sources/session-b38b90e4/48D18ED5
.Rproj.user/A02CA234/sources/prop/BEE5ACC9
.Rproj.user/A02CA234/pcs/source-pane.pper
.Rproj.user/A02CA234/jobs/07657DB9-output.json
